.header {
    display: flex;
    align-items: center;
    justify-content: center;


    &__title {
        display: flex;
        align-items: center;
        gap: 12px;
        color: #D1D7E0;
        font-weight: bolder;
        font-size: 24px;
        &-text {
            font-size: 24px;
            letter-spacing: 4px; // Adjust letter spacing
          }
    }
   
}



.main-content {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 32px;
}
