.home {
  height: 100vh;
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 80%;
    @media (max-width: 768px) {
      gap: 8px;
    }
  }
  &__search {
    width: 75%;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
  &__subtitle {
    display: flex;
    flex-direction: row;
    gap: 12;
    align-items: center;
    font-size: 16px;
    color: #d4dde7;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #78d3b5;
    font-weight: bolder;
    font-size: 32px;
    @media (max-width: 768px) {
      font-size: 24px;
    }
    &-text {
      font-size: 32px;
      letter-spacing: 4px; // Adjust letter spacing

      @media (max-width: 768px) {
        font-size: 24px;
        letter-spacing: 2px;
      }
    }
  }

  &__rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 12px;
    &-text {
      font-size: 10px;
    }
    &-powered {
      font-size: 10px;
      color: #85b1e2;
    }
  }

}
