* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #222830;
  color: white;
  font-size: 12px;
}

header {
  background: #161B23;
  color: #fff;
  padding:8px 16px;
  border-bottom: 2px solid #3D444D;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav {
  float: right;
  margin-top: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

