.profile {
    color: #9198A1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 680px;
    @media screen and (max-width: 768px) {
        gap: 12px;
        
    }
    &__container {
        display: flex;
        gap: 24px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 12px;
        }
        

    }
}
